html,
head,
body,
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0%;
    width: 100%;
}

.sidebar {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 500px;
    z-index: 10;
    background: #c6c2c2;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 0px;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 10px;
    border-radius: 20px;
}

#legend {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  font-family: 'Gill Sans MT';
  font-size: 10px;
  z-index: 1;
}

.legend-item {
  margin-bottom: 5px;
}

.legend-color {
  display: contents;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}


/* Beautiful button from https://getcssscan.com/css-buttons-examples */
.button-18 {
    align-items: center;
    background-color: #27af30;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    margin-bottom: 8px;
}

.button-18:hover,
.button-18:focus {
    background-color: #167e4a;
    color: #ffffff;
}

.button-18:active {
    background: #001020;
    color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}